<div>
  <h1><%= writer.name %></h1>
  <blockquote>
    <p><%= writer.desc %></p>
  </blockquote>
  

  <table class="table table-hover">
    <thead>
      <tr>
        <th>文章标题</th>
        <th>类别</th>
        <th>阅读次数</th>
        <th>最后修改时间</th>
      </tr>
    </thead>
      <% for( var i = 0 ; i < writer.articles.length; i++){ %>
        <tr>
          <% var link = '<a href="/article/?title=' + writer.articles[i].title + '&writer=' + writer.name + '">' + writer.articles[i].title + '</a>' %>
          <td><%= link %></td>
          <td><%= writer.articles[i].category %></td>
          <td><%= writer.articles[i].viewCount %></td>
          <td><%= writer.articles[i].lastModified %></td>
        </tr>
      <%}%>
    <tbody>
    </tbody>
  </table>
</div>